/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #f1effd;
    color: #333;
}

/* About Section */
.about-container {
    margin: 50px auto;
    width: 85%;
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: flex-start;
}
.about-container {
    margin-top: 120px;   /* adjust depending on your header height */
}

.about-box {
    background: #ffffff;
    padding: 40px;
    width: 60%;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.about-box h2 {
    font-size: 28px;
    margin-bottom: 10px;
    color: #333;
}

.about-box h3 {
    margin-top: 20px;
    font-size: 20px;
    color: #4b3bbd;
}

.about-box p {
    margin-top: 10px;
    line-height: 1.6;
    font-size: 15px;
}

.inside-img {
    width: 100%;
    height: 400px;
    max-width: 320px;      /* size of image */
    float: right;          /* image on the right side */
    margin: 0 0 20px 20px; /* spacing around image */
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#footer {
    margin-top: auto;
}
