body {
    margin: 0;
    font-family: "Poppins", sans-serif;
  background: #f3f0ff;}

.gallery-section {
    text-align: center;
    padding: 60px 20px;
}

.title {
    font-size: 32px;
    color: #d36b55;
}

.subtitle {
    color: #666;
    margin-bottom: 25px;
}

.filter-row {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 30px;
}

.filter-row select {
    padding: 10px 15px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 15px;
}

.gallery-grid {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
}

.img-card {
    background: #fff;
    padding: 2px;
    border-radius: 12px;
    box-shadow: 0 5px 25px rgba(0,0,0,0.1);
    transition: 0.3s ease;
}

.img-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
}

.img-card:hover {
    transform: translateY(-6px);
}
/* Lightbox Overlay */
.lightbox-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
}

.lightbox-overlay.show {
    opacity: 1;
    visibility: visible;
}

.lightbox-overlay img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 12px;
    box-shadow: 0 5px 25px rgba(0,0,0,0.5);
    object-fit: contain;
}
