body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
  background: #f3f0ff;}

.portfolio {
    text-align: center;
    padding: 40px 20px;
}

.title {
    font-size: 32px;
    color: #f79b0d;
    margin-bottom: 5px;
}

.subtitle {
    font-size: 16px;
    margin-bottom: 40px;
    color: #555;
}

.grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    margin-bottom: 40px;
}

.card {
    width: 220px;
    background: white;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 6px 20px rgba(0,0,0,0.2);
}

.card img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 10px;
}

.card h3 {
    font-size: 16px;
    margin: 12px 0 6px;
    color: #333;
}

.card p {
    font-size: 13px;
    color: #555;
    line-height: 1.4;
}
